.grid-container-1 .grid-item-1 {
  order: -2;
}

.grid-container-1 .grid-item-4 {
  order: -1;
}

/* ----------container 1------------ */

.grid-container-2 .grid-item-1 {
  order: 2;
}

.grid-container-2 .grid-item-2 {
  order: 1;
}

.grid-container-2 .grid-item-4 {
  order: -1;
}

/* ----------container 2------------ */

.grid-container-3 .grid-item-3 {
  order: -3;
}

.grid-container-3 .grid-item-5 {
  order: -2;
}

.grid-container-3 .grid-item-2 {
  order: -1;
}

/* ----------container 3------------ */

.grid-container-4 .grid-item-2 {
  order: 2;
}

.grid-container-4 .grid-item-3 {
  order: 1;
}

/* ----------container 4------------ */


